body {
  font-family: SFProBold;
}

.container {
  box-sizing: border-box;
  all: unset;
  margin: 0;
  padding: 36px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 90vh;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
}

.top {
  font-size: 1rem;
}

.title {
  font-size: 32px;
  line-height: 1.2;
}

.span {
  color: #bdbdbd;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.input {
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: #f6f6f6;
  border: solid black 1px;
  color: black;
  border-radius: 4px;
  font-size: 1rem;
}

.button {
  background-color: #773ff9;
  padding: 12px;
  font-family: SFProBold;
  font-size: 1rem;
  color: white;
}

.text {
  font-family: SFProRegular;
  font-size: 12px;
  color: #bdbdbd;
  line-height: 1;
}
