.container {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.type {
  display: flex;
  font-family: SFProRegular;
  font-size: 14px;
  gap: 16px;
}

.addNewProduct {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}
