.containerWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.containerWrapper > *:last-child {
  grid-column: 1 / -1;
}

.container {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.accContainer {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: space-between;
}

.accContainer:last-child {
  flex-direction: row;
}

.type {
  display: flex;
  font-family: SFProRegular;
  font-size: 14px;
  gap: 16px;
}

.addNewProduct {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}

.stockInput {
  color: rgb(255, 255, 255);
  max-width: 2rem;
  border: none;
  align-self: flex-start;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}