.container {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.type {
  display: flex;
  font-family: SFProRegular;
  font-size: 14px;
  gap: 16px;
}

.addNewProduct {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}

.stockInput {
  color: rgb(255, 255, 255);
  text-align: right;
  width: auto;
  max-width: 2.5rem;
  align-self: flex-start;
  flex: 0 0 auto;
  flex-shrink: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}