.container {
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  outline: 1px solid black;
  outline-offset: 0;
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 36px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 16px;
}

.show {
  animation: popUp 300ms ease-out forwards;
}

.hide {
  animation: popDown 300ms ease-out forwards;
}

@keyframes popUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
