.container {
  width: 100%;
  max-height: 40rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  outline: 1px solid black;
  outline-offset: 0;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 36px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  animation: popUp 300ms ease-out forwards;
}

.show {
  animation: popUp 300ms ease-out forwards;
}

.hide {
  animation: popDown 300ms ease-out forwards;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: SFProRegular;
}

.title {
  font-family: SFProBold;
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

.button {
  font-family: SFProBold;
  background-color: #773ff9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.addPrice {
  padding: 16px;
  border: solid #773ff9 2px;
  color: #773ff9;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  background-color: #f6f6f6;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  font-family: SFProBold;
}

.imeiContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.imei {
  display: flex;
}

.type {
  display: flex;
  font-family: SFProRegular;
  font-size: 14px;
  gap: 16px;
}

@keyframes popUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
