.container {
  width: 100%;
  max-height: 40rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  outline: 1px solid black;
  outline-offset: 0;
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 36px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  animation: popUp 300ms ease-out forwards;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 14px;
  font-family: SFProRegular;
  font-size: 14px;
}

.title {
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  background-color: #773ff9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.input {
  background-color: #f6f6f6;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

.input::placeholder {
  text-align: center;
}

.empty {
  background-color: #da0909;
  color: white;
}

.title .empty {
  font-size: 24px;
}

.descContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subTitle {
  margin-left: -1rem;
}

.desc {
  font-family: SFProRegular;
  font-size: 12px;
}

.productName {
  font-family: SFProBold;
  font-size: 14px;
}

/*ini untuk popup add reportnya*/

.productWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: SFProRegular;
  font-size: 14px;
}

.itemDetail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productName {
  font-family: SFProBold;
  font-size: 14px;
}

.silver {
  color: #b0b0b0;
}

.black {
  color: black;
}

.productDetail {
  font-size: 14px;
  font-family: SFProRegular;
  display: flex;
  gap: 16px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.priceInput {
  border-radius: 8px;
  background-color: #f6f6f6;
  border: solid black 1px;
  padding: 12px 16px;
  font-size: 14px;
  width: 100%;
}

.radioContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.radio {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radio input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: solid #773ff9 2px;
}

.radio input[type="radio"]:checked {
  border-color: #b99bff;
  background-color: #773ff9;
}

.radio input[type="radio"]:checked::after {
  border: solid rgb(0, 0, 0) 20px;
}

.method {
  font-size: 12px;
  color: #b1b1b1;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.priceButton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: SFProBold;
}

.addPrice {
  border: solid #773ff9 2px;
  color: #773ff9;
  background-color: white;
  padding: 16px;
}

.scannerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.scanner {
  height: fit-content;
  border: 4px solid #000;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scanResult {
  color: #b0b0b0;
  text-align: center;
  font-family: SFProRegular;
}

.buttonInActive {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #773ff9;
  border: solid #773ff9 2px;
  padding: 16px;
  border-radius: 8px;
  transition: ease-in 300ms;
}

.manualscan {
  display: flex;
  width: 100%;
  gap: 16px;
}

.buttonms {
  background-color: #773ff9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.accProduct {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  flex: 1;
}

.accInput {
  border-radius: 8px;
  background-color: #f6f6f6;
  border: solid black 1px;
  padding: 12px 16px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.brandAcc {
  border: solid #773ff9 1px;
  background-color: white;
  font-size: 10px;
  padding: 4px 8px;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 100px;
  transition: 300ms ease;
  color: black;
  cursor: pointer;
}

.brandAcc:hover {
  background-color: #773ff9;
  color: white;
}

@keyframes popUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
