.container {
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  outline: 1px solid black;
  outline-offset: 0;
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 36px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  animation: popUp 300ms ease-out forwards;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 14px;
}

.title {
  font-family: SFProBold;
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.desc {
  text-align: center;
  font-family: SFProRegular;
}

.buttonContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
}

.button {
  width: 100%;
  padding: 12px;
  text-align: center;
}

.cancel {
  border: solid #da0909 1px;
  background-color: white;
  color: #da0909;
}

.yes {
  background-color: #da0909;
  color: white;
}

@keyframes popUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
