.container {
  padding: 2rem;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.topContainer {
  /* border: solid black 1px; */
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logoutButton {
  background-color: #DA0909;
  color: white;
  display: flex;
  flex: 0 0 auto;
  padding: 8px 24px;
  border-radius: 100px;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.activityContainer {
  padding: 16px 24px;
  background-color: #F6F6F6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}  

.activityTitleWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}  

.activityTitle {
  font-family: SFProMedium;
  font-size: 24px;
}  

.activity {
  border: solid black 1px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}  

.productContainer {
  display: flex;
  flex-direction: column;
}  

.productName {
  font-size: 24px;
}

.productDetail {
  font-size: 12px;
  font-family: SFProRegular;
  display: flex;
  gap: 8px;
}
 
.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  display: flex;
  flex-direction: row;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.priceAmount {
  
}

.type{
  font-family: SFProRegular;
  font-size: 12px;
}

.totalPriceContainer {
}