.container {
  padding: 2rem;
  border: solid red 1px;
  line-height: 1;
}

.activityContainer {
  padding: 16px 24px;
  background-color: #F6F6F6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activityTitleWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.activityTitle {
  font-family: SFProMedium;
  font-size: 24px;
}

.activity {
  border: solid black 1px;
  padding: 16px;
  border-radius: 16px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}