.container {
  background-color: #773ff9;
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.type {
  display: flex;
  font-family: SFProRegular;
  font-size: 14px;
  gap: 16px;
}

.more {
  background-color: #773ff9;
  color: white;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.more:hover {
  background-color: #9c71ff;
}