.container {
  padding: 1.5rem;
  gap: 48px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.logoutButton {
  background-color: #da0909;
  color: white;
  display: flex;
  flex: 0 0 auto;
  padding: 8px 24px;
  border-radius: 100px;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pmtContainer {
  font-size: 32px;
  text-transform: capitalize;
}

.pmt {
  color: #717b7a;
}

.activityContainer {
  padding: 36px 36px;
  background-color: #f1f1f1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activityTitleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.activityTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.activityTitle {
  font-family: SFProMedium;
  font-size: 24px;
}

.date {
  font-family: SFProRegular;
  color: #b1b1b1;
}

.activityWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activity {
  border: solid black 1px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productContainer {
  display: flex;
  flex-direction: column;
}

.productName {
  font-size: 14px;
}

.productDetail {
  font-size: 12px;
  font-family: SFProRegular;
  display: flex;
  gap: 8px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  display: flex;
  flex-direction: row;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.type {
  font-family: SFProRegular;
  font-size: 12px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editButton {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  background-color: #773ff9;
  color: white;
  border-radius: 8px;
}

.editButton:hover {
  background-color: #9c71ff;
}

.deleteButton {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  background-color: #da0909;
  color: white;
  border-radius: 8px;
}

.deleteButton:hover {
  background-color: #ff6666;
}

.brandButton {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.brandWidthContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brandWidth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
