.container {
  padding: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.logoutButton {
  background-color: #da0909;
  color: white;
  display: flex;
  flex: 0 0 auto;
  padding: 8px 24px;
  border-radius: 100px;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pmtContainer {
  font-size: 32px;
  text-transform: capitalize;
}

.pmt {
  color: #717b7a;
}

.sliderContainer {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.sliderContainer::-webkit-scrollbar {
  display: none;
}

.slider {
  cursor: pointer;
  border: solid #773ff9 1px;
  font-family: SFPRoRegular;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  background-color: #ffffff;
  color: black;
  transition: all 300ms ease;
}

.slider:hover {
  background-color: #773ff9;
  color: white;
}

/* CekStok */

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 0.75rem;
  /* hide scrollbar tapi tetap bisa scroll */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE */
}

.tableWrapper::-webkit-scrollbar {
  display: none; 
}

.table {
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui, -apple-system, sans-serif;
}

.table tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.thead {
  background-color: #f3f4f6;
}

.th {
  padding: 12px;
  border-bottom: 2px solid #e5e7eb;
  background-color: #773ff9;
  color: white;
  text-align: center;
}

.th:nth-child(2) {
  text-align: start;
}

.thNo {
  width: 1rem;
  text-align: center;
}

.td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.td:nth-child(2) {
  text-align: start;
}

.tdCenter {
  text-align: center;
}

.search {
  background-color: white;
  padding: 6px;
  font-family: SFProRegular;
}