.container {
  width: 100%;
  height: fit-content;
  background-color: white;
  outline: 1px solid black;
  outline-offset: 0;
  z-index: 5;
  position: absolute;
  bottom: 0;
  padding: 36px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  animation: popUp 300ms ease-out forwards;
}

.container.hide {
  animation: popDown 300ms ease-out forwards;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

@keyframes popUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
