.container {
  box-sizing: border-box;
  position: fixed;
  bottom: 16px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.wrapper {
  background-color: #5e25fc;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease;
  cursor: pointer;
}

.wrapper:hover {
  background-color: #7746ff;
}