.container {
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  outline: 1px solid black;
  outline-offset: 0;
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 36px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  animation: popUp 300ms ease-out forwards;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 16px;
}

.title {
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  background-color: #773FF9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 16px;
  border-radius: 8px;
}